.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .board {
        width: 98%;
        height: 100%;
        max-width: 500px;
        max-height: 500px;
        border: 1px solid black;
        @media (max-width: $md) {
            max-width: 300px;
            max-height: 300px;
        }
        @media (max-width: $sm) {
            max-width: 200px;
            max-height: 200px;
        }
        .row {
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            .column {
                width: calc(100% / 10);
                height: 100%;
                float: left;
                font-style: 20px;
                text-align: center;
                line-height: 7vmin;
                @media (max-width: $md) {
                    font-size: 10px;
                    line-height: 30px;
                }
                @media (max-width: $sm) {
                    font-size: 7px;
                    line-height: 20px;
                }
            }
            .black {
                background-color: black;
            }
            .top {
                border-top: 1px solid black;
            }
            .bottom {
                border-bottom: 1px solid black;
            }
            .left {
                border-left: 1px solid black;
            }
            .right {
                border-right: 1px solid black;
            }
            .rotate {
                transform: rotate(180deg);
            }
        }
    }
}