* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .board {
  width: 98%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  border: 1px solid black;
}

@media (max-width: 768px) {
  .wrapper .board {
    max-width: 300px;
    max-height: 300px;
  }
}

@media (max-width: 400px) {
  .wrapper .board {
    max-width: 200px;
    max-height: 200px;
  }
}

.wrapper .board .row {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .board .row .column {
  width: calc(100% / 10);
  height: 100%;
  float: left;
  font-style: 20px;
  text-align: center;
  line-height: 7vmin;
}

@media (max-width: 768px) {
  .wrapper .board .row .column {
    font-size: 10px;
    line-height: 30px;
  }
}

@media (max-width: 400px) {
  .wrapper .board .row .column {
    font-size: 7px;
    line-height: 20px;
  }
}

.wrapper .board .row .black {
  background-color: black;
}

.wrapper .board .row .top {
  border-top: 1px solid black;
}

.wrapper .board .row .bottom {
  border-bottom: 1px solid black;
}

.wrapper .board .row .left {
  border-left: 1px solid black;
}

.wrapper .board .row .right {
  border-right: 1px solid black;
}

.wrapper .board .row .rotate {
  transform: rotate(180deg);
}
